body{
    background:linear-gradient(white,pink,crimson);
}
img{
    height: 350px;
    width: 200px; 
}
.info{
    text-align:center;
    font-family: sans-serif;
    height:100%;
    width:100%;
}
.skill{
    font-family: sans-serif;
    text-align: start;
    padding: 10px;
    margin: 10px;
font-size: x-large;
background-color: crimson;
}
.nav{
    text-decoration: none;
}